{% extends "base.html" %}

{% block content %}
 <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Company Stocks</h1>
        <p class="lead">Bond ownership for {{investor.name}}</p>
        <table cellspacing="0" cellpadding="0" class="table table-hover table-striped">
          <thead class="thead-dark">
            <tr>
                <th>BOND</th>
                <th>QUANTITY</th>
                <th>PURCHASE PRICE</th>
                <th>CURRENT PRICE</th>
                <th>PURCHASE DATE</th>
                <th>COUPON</th>
                <th>EARNINGS/LOSS</th>
                <th>YEARLY % EARNINGS/LOSS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{bond.bond_symbol}}</td>
                <td>{{bond.no_shares}}</td>
                <td>${{bond.purchase_price|floatformat:2}}</td>
                <td>${{bond.current_price|floatformat:2}}</td>
                <td>{{bond.purchase_date}}</td>
                <td>{{bond.coupon|floatformat:2}}</td>
                <td>${{bond.calculate_earnings|floatformat:2}}</td>
                <td>{{bond.yield_field}}</td>
            </tr>
            </tbody>            
        </table>
      </div>
    </div>
  </div>
{% endblock content %}